<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
    <title>My First Flask Application</title>
</head>

<body>
    {% include 'header.html' %} {% block main %}
    <div class="md:flex shadow-lg  mx-6 md:mx-auto my-20 max-w-lg md:max-w-2xl h-64">
        <div class="md:w-1/3 sm:w-full rounded-lg shadow-lg bg-white my-3">
            <div class="px-5 py-4 flex justify-end">
                <h1>I am on Structure page</h1>
            </div>
        </div>
    </div>

    {% endblock main %}
    </div>

</body>

</html>